/* Add CSS styling here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    max-width: 100%;
}
html{
    font-size:62.5%;
}

header{
    background-color:darkslategrey;
    padding:20px;
    margin-bottom: 15px;
    font-size: 4rem;
    color: white;
}



a {
    text-decoration: none;
}

nav{
    text-decoration:none;
}
h2{
    font-size:4rem;
}

.firstsection{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.topbio{
    padding:20px;
    width:40%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
#projectbutton{
    width:150px;
    height: 150px;
    border-radius:70%;
    margin-top:15px;
    margin-right:17%;
}
#biop{
    font-size: 2.5rem;
}

.row{
   display:flex;
   justify-content:space-evenly;
   flex-flow:row wrap;
   padding:20px;
}

.portfolio-element{
    text-align:center;
    margin-bottom: 40px;
    font-size: 3rem;
    }


    
    footer{
        background-color:darkslateblue;
        text-align:center;
        padding:20px;
    }

    #footbutton{
        border-radius:60%;
    }
    .social{
        display:flex;
        flex-flow:row nowrap;
        justify-content:space-evenly;
        padding:10px;
        
    }
    /*nav.social{
        display:flex;
        justify-content: space-between;
        margin-top:10%;
    }*/


    @media(max-width:800px){
        

        h1{
            text-align:center;
        }

        #flex-container {
            display: flex;
            flex-flow: column wrap;
            align-items:center;
        }

        .firstsection{
            display:flex;
            flex-flow:column wrap;
            align-items: center;
        }
        .topbio{
            width:60%;

        }
        #projectbutton{
            width:150px;
            margin-top:-1px;
            margin-left:80px;
            margin-bottom: 20px;
        }
        #biop{
            font-size: 2.5rem;
        }

        .nav-button {
            width: 20%;
            height: 40px;
        }

        #footbutton{
            font-size: 2.5rem;
        }
    }

    @media(max-width:500px){
        .topbio{
            width:80%;
        }
    }

   